{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}

{% if item | length > 0%}
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>

        

        <tbody>
            {% for items  in item %}

            <thead>
                <tr>
                    <td>{{items.produit.proLibelle}}</td>
                    <td>{{items.produit.proPrix}}</td>
                    <td>{{items.quantity}}</td>
                    <td>{{items.produit.proPrix * items.quantity}}</td>
                    <td>
                        <a href={{ path('panier_remove',{'id': items.produit.proId}) }} class="btn btn-primary">Primary</a>
                        <i class="fas fa-trash"></i>
                    </td>
                </tr>

            </thead>

            {% endfor %}

        </tbody>
        <tfoot>
            <tr>
                    <td colspan="3" class='text-right'>Total :</td>
                    <td>{{ total }}</td>
                    <td></td>
                   
                </tr>
        </tfoot>
       </table> 
    </div>
</div>
{% else %}

{% endif %}


{% endblock %}