{% extends 'base.html.twig' %}


{% block body %}
    <h1>bonjour</h1>

    {{form_start(form)}}
    {{ form_widget(form._token) }}
    {{form_row(form.Util_Nom,{'label':'Nom de Famille'})}}
    {{form_row(form.Util_Prenom,{'label':'Prenom'})}}
    {{form_row(form.Util_sexe,{'label':'Homme ou Femme'})}}
    {{form_row(form.Util_date_de_naissance,{'label':'Date de naissance'})}}
    {{form_row(form.Util_telephone,{'label':'Numero de telephone'})}}
    {{form_row(form.Util_adresse,{'label':'Adresse de facturation'})}}
    
    {{form_row(form.Util_Cp,{'label':'Code Postal'})}}
    {{form_row(form.Util_ville,{'label':'Ville'})}}
    {{form_row(form.pay,{'label':'Pays'})}}
    {{form_row(form.Util_mail,{'label':'Adresse E-mail'})}}
    {{form_row(form.Util_username,{'label':'Choix du Speudo de connexion'})}}
    {{form_row(form.Util_password,{'label':'Choix du mot de passe'})}}
    {{form_row(form.cliId,{'label':'id'})}}
    <button type="submit" class="btn btn-primary">inscription</button>
    

{% endblock body %} 