{% extends 'base.html.twig' %}

{% block title %}Village{% endblock %}

{% block body %}

  

  <section>
    <div class="container" id="fond" >
      <div class="row col-lg-12" >
        <div class="container">
          <div class="row section" >
            <div class="col-sm-8">
              <img src="images\BODY\pub guitare.png" width="100%" alt="">
            </div>
            <div class=" col-sm-4">
              <img src="images\BODY\banniere droite prix.png" width="52%" alt="">
            </div>
          </div>
          <div class="container">
            <div class="row" style="margin: auto;">
              <div class="col-12 col-lg-12">
                <h2>Nos catégories</h2>
              </div>
            </div>
          </div>
          
          <div class="container-fluid">
            <div class="row row-cols-4" style="margin-left: 20px;margin-right: 0px;">
              <a href="{{path('produit',{id:1})}}">  <img class="img-fluid guitareHover" src="images\BODY\CATEGORIES guitare.png" width="auto" alt=""></a>
              <a href="{{path('produit',{id:2})}}"><img class="img-fluid batterieHover" src="images\BODY\CATEGORIES batterie.png" width="auto" alt=""></a>
              <a href="{{path('produit',{id:3})}}"><img class="img-fluid pianoHover" src="images\BODY\CATEGORIES piano.png" width="auto" alt=""></a>
              <a href="{{path('produit',{id:4})}}"><img class="img-fluid microHover"  src="images\BODY\CATEGORIES micro.png" width="auto" alt=""></a>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row row-cols-4" style="margin-left: 20px;margin-right: 0px;">
              <a href="{{path('produit',{id:5})}}"><img class="img-fluid sonoHover"  src="images\BODY\CATEGORIES sono.png" width="auto" alt=""></a>
              <a href="{{path('produit',{id:6})}}"><img class="img-fluid casesHover"  src="images\BODY\CATEGORIES cases.png" width="auto" alt=""></a>
              <a href="{{path('produit',{id:7})}}"><img class="img-fluid cableHover"  src="images\BODY\CATEGORIES cable.png" width="auto" alt=""></a>
              <a href="{{path('produit',{id:8})}}"><img class="img-fluid saxoHover"  src="images\BODY\CATEGORIES saxo.png" width="auto" alt=""></a>
            </div>
          </div>


          <div class="container-fluid">
            <div class="row">

              <div class="col-lg-8">
                <h2>Nos meilleures Ventes</h2>
                <img class="topG" src="images\BODY\TOP VENTES guitare.png" width="auto" alt="">


                <img class="topS" src="images\BODY\TOP VENTES saxo.png" width="auto" alt="">


                <img class="topP" src="images\BODY\TOP VENTES piano.png" width="auto" alt="">
              </div>
              <div class="container col-lg-4 col-md-6"style="left: -125px;">
                <div class="row">
                  <h2 class="col">Nos partenaires</h2>

                  <img src="images\BODY\partenaires 4 logos.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  

{% endblock %}
