{% extends 'base.html.twig' %}

{% block title %}Village{% endblock %}

{% block body %}
<pre>
    {{ dump(categorie) }}
</pre>

<header >
    <div class="container"id="fond">
        <div class="row">
            <div class="col">
                <div class="vertical-menu">

                    <a href="#" class="active">Home</a>
                    
                     {% for sousCategorie in aSousCategorie  %} 
                    
                    
                    <a href="{{ path('produit',{id:sousCategorie.catId})}}">{{sousCategorie.catNom}}</a>
                   
                   
           {% endfor %} 
                
                </div>
            </div>
            
                {% for Produits in produit %} {# boucle 1er tableau cat #}
                 
                
                
                
                 
                    <div class="col-lg-2">
                        <div class="card">
                            <img src="..\images\Produits\{{Produits.proId}}.{{Produits.proPhoto}}" alt="Denim Jeans" style="width:100%">
                            <h1>{{Produits.cat.catNom}}</h1>
                            <p class="price">{{Produits.proPrix}}€</p>
                            <p class='description'>{{Produits.proDescription}}</p>
                            <p><button>Add to Cart</button></p>
                        </div>
                    </div>
           
           {% endfor %} 
</header>
{% endblock %}
