{% extends 'base.html.twig' %}

{% block title %}Village{% endblock %}

{% block body %}


<section>
    <div class="container" id="fond">
        <div class="row col-lg-12 ">

            <div class="col-lg-4" style="/*! padding-left: 0px; */left: 10px;top: 30px">
                <div class="vertical-menu">

                    <a href="#" class="active">Home</a>

                    {% for sousCategorie in aSousCategorie  %}


                    <a href="{{ path('produit',{id:sousCategorie.catId})}}">{{sousCategorie.catNom}}</a>


                    {% endfor %}

                </div>
            </div>

            {% for Produits in produit %} {# boucle 1er tableau cat #}

           

            <div class="card" style="max-width: 18rem;">
                <img class="card-img-top" src="..\images\Produits\{{Produits.proId}}.{{Produits.proPhoto}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{Produits.cat.catNom}}</h5>
                    <p class="card-text">{{Produits.proDescription}}</p>
                    <a href={{ path('fiche_produit',{'id':Produits.proId}) }} class="btn btn-primary">Go somewhere</a>
                </div>
            </div>



            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}