{% extends 'base.html.twig' %}

{% block title %}Employe index{% endblock %}
{% block body %}
<pre>
    {{ dump(employes) }}
</pre>
    <h1>Employe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdUtilis</th>
                
                <th>IdUtilis</th>
            </tr>
        </thead>
        <tbody>
        {% for employe in employes %}
            <tr>
        {% for employ in employe|json_encode() %}
    {{ dump(employ) }}
    {% endfor %}
                <td>{{ employe.idUtilis }}</td>
                
                <td>{{ employe.idUtilis }}</td>
                <td>
                   
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="21">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('employe_new') }}">Create new</a>
{% endblock %}
