{% extends 'admin/index.html.twig' %}

{% block title %}Employe{% endblock %}

{% block body %}

<div class="container">
    <div class="row col-12">


        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Employe:{{ employe.utilNom }}</h1>
                    <label> Libellé : </label>
                    <input value="{{ employe.idUtilis}}"></input>
                    <br>
                    <label> Libellé : </label>
                    <input value="{{ employe.utilNom }}"></input>
                    <br>
                    <label> Libellé : </label>
                    <input value="{{ employe.utilPrenom }}"></input>
                    <br>
                    <label> Libellé : </label>
                    <input value="{{ employe.utilSexe }}"></input>
                    <br>
                    <label> Libellé : </label>
                    <input value="{{ employe.utilAdresse }}"></input>
                    <br>
                    <label> Libellé : </label>
                    <input value="{{ employe.utilCp }}"></input>
                    <br>
                    <label> Libellé : </label>
                    <input value="{{ employe.utilVille }}"></input>
                    <br>
                    <label> Libellé : </label>
                    <input value="{{ employe.utilMail }}"></input>
                    <br>
                    <label> Libellé : </label>
                    <input value="{{ employe.utilUsername }}"></input>
                    <br>
                    <label> Libellé : </label>
                    <input value="{{ employe.utilTelephone }}"></input>
                    <br>
                    <label> Libellé : </label>
                    <input
                        value="{{ employe.utilDateDeNaissance ? employe.utilDateDeNaissance|date('Y-m-d') : '' }}"></input>
                    <br>
                    <label> Libellé : </label>
                    <input value="{{ employe.empDateEntree ? employe.empDateEntree|date('Y-m-d') : '' }}"></input>
                    <br>
                    <label> Libellé : </label>
                    <input value="{{ employe.empDateSortie ? employe.empDateSortie|date('Y-m-d') : '' }}"></input>
                    <br>
                    <label> Libellé : </label>
                    <input value="{{ employe.empNumSecuSocial }}"></input>
                    <br>
                    <label> Libellé : </label>
                    <input value="{{ employe.empRoles ? employe.empRoles|json_encode : '' }}"></input>
                    <br>
                    <a class="btn btn-primary" role="a" href="{{ path('admin') }}">Retour</a>

                    <a class="btn btn-primary" role="a" href="{{ path('admin_edit', {'idUtilis': employe.idUtilis}) }}">Edit</a> 
                     <br>
                
                 
               
                <a class="btn btn-outline-danger" role="a" href="{{ path('admin_new') }}">Nouveau Compte
                        Employe</a>
                </div>



                </tbody>




            </div>
        </div>
        {% endblock %}